@use '../modules/variables.scss';
@use '../modules/mixins.scss';

#contato{
    height: 100vh;
    background-color: variables.$purpleColor;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .contatos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        &-background{
            position: absolute;
            right: -5%;
            bottom: -5%;
            width: 410px;
            z-index: 0;

            @include mixins.notebook{
                right: -2%;
                bottom: -16%;
                width: 350px;
            }

            @include mixins.smartphone{
                display: none;
            }

            img{
                width: 100%;
            }

            &2{
                position: absolute;
                top: 75%;
                left: 10%;
                transform: rotate(136deg);
                z-index: 0;

                @include mixins.notebook{
                    top: 94%;
                    left: -13%;
                }

                @include mixins.smartphone{
                    display: none;
                }
            }
        }
    }

}