@use '../modules/variables.scss';

#contato{
    height: 100vh;
    background-color: variables.$purpleColor;
    display: flex;
    align-items: center;
    justify-content: center;

    .contatos{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}