@use '../modules/variables.scss';
@use '../modules/mixins.scss';

#habilidades{
    height: 100vh;
    background-color: variables.$blueColor;
    position: relative;

    @include mixins.smartphone{
        height: 80vh;
    }

    .background-habilidades{
        background-image: url('../../images/assets/square-of-dots.svg');
        position: absolute;
        bottom: 10%;
        right: 13%;

        @include mixins.tablet{
            right: 7%;
        }

        img{
            width: 500px;

            @include mixins.notebook{
                width: 300px;
            }

            @include mixins.tablet{
                width: 250px;
            }

            @include mixins.smartphone{
                display: none;
            }
        }
    }

    .background-habilidades-2{
        position: absolute;
        top: 10%;
        left: -12%;
        transform: rotate(180deg);

        @include mixins.notebook{
            top: -2%;
            left: -26%;
            height: 600px;
        }

        @include mixins.tablet{
            top: 11%;
            left: -37%;
            height: 542px;
        }

        @include mixins.smartphone{
            display: none;
        }

        img{
            height: 100%;
            }
        }


    .section-title{
        margin-top: 80px;
        text-align: center;
        margin-bottom: 160px;

        @include mixins.notebook{
            margin-bottom: 80px;
        }

        @include mixins.smartphone{
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }

    .habilidadeContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .habilidade{
        width: 150px;
        height: 150px;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.21);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        position: relative;

        @include mixins.notebook{
            width: 140px;
            height: 140px;
        }

        @include mixins.tablet{
            width: 100px;
            height: 100px;
        }

        @include mixins.smartphone{
            width: 90px;
            height: 90px;
        }

        &:hover::after{
            width: 100%;
        }

        &::after{
            content: '';
            width: 0%;
            height: 2px;
            position: absolute;
            background-color: variables.$greenColor;
            bottom: 0px;
            left: 0;
            transition: all ease .2s;
        }

        &-nome{
            text-align: center;
            font-weight: bold;
            color: variables.$darkColor;
            font-size: 1.1em;
            margin-bottom: -10px;

            @include mixins.notebook{
                font-size: 1em;
            }

            @include mixins.tablet{
                font-size: .8em;
            }

            @include mixins.smartphone{
                font-size: .7em;
            }
        }

        &-icon{
            font-size: 5em;
            color: #000;

            @include mixins.notebook{
                font-size: 4em;
            }

            @include mixins.tablet{
                font-size: 3em;
            }

            @include mixins.smartphone{
                font-size: 2.8em;
            }

            img{
                height: 78px;
                width: 78px;

                @include mixins.notebook{
                    height: 58px;
                    width: 58px;
                }

                @include mixins.tablet{
                    width: 40px;
                    height: 40px;
                }

                @include mixins.smartphone{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}