@use '../modules/variables.scss';
@use '../modules/mixins.scss';

#hero{
    height: 95vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(72,49,212,1) 68%, rgba(204,242,129,1) 68%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mixins.smartphone{
        background: linear-gradient(180deg, rgba(72,49,212,1) 40%, rgba(204,242,129,1) 40%);
    }

    .container-text{
        
        @include mixins.tablet{
            margin-left: 70px;
        }

        @include mixins.smartphone{
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .hero-text{
        color: variables.$darkColor;
        padding-top: 130px;
        font-size: 3.5em;
        font-weight: bold;

        
        @include mixins.notebook{
            font-size: 2.5em;
            padding-top: 50px;
        }
        
        @include mixins.tablet{
            font-size: 2em;
            padding-top: 100px;           
        }

        @include mixins.smartphone{
            font-size: 1.8em;
            text-align: center;
            padding-top: 20px;
        }
    }

    .dev-text{
        font-weight: bold;
        font-size: 1.8em;
        margin-top: -16px;
        margin-bottom: 40px;

        @include mixins.notebook{
            margin-top: -10px;
        }

        @include mixins.smartphone{
            text-align: center;
            font-size: 1.5em;
            margin-top: 0px;
        }
    }

    .container-img{
        position: relative;
        height: 350px;   
        top: 21%;
        right: 23%;

        @include mixins.notebook{
            right: 21%;
            top: 14%;
            height: 300px; 
        }

        @include mixins.tablet{
            right: 20%;
            top: 30%;
            height: 250px; 
        }

        @include mixins.smartphone{
            height: 150px; 
            display: block;
            margin: 0 auto;
        }
    }
    .img-hero{
        margin: 0 auto !important;

        @include mixins.smartphone{
            display: block;
            position: absolute;
            bottom: 45%;
            right: 0%;
        }
    }

    .image{
        position: absolute;


        @include mixins.smartphone{
            position: absolute;
        }
        
        &-img{
            height: 100%;
            z-index: 10;
            margin: 0 auto;

            @include mixins.smartphone{
                height: 150%;
            }
        }
    }

    .btn-green:nth-child(1){
        margin-right: 10px;
    }
}

.avatar-shape{
    position: absolute;
    height: 55%;
    right: 15%;
    top: 13%;
    font-size: 0em;
    z-index: 0;

    @include mixins.notebook{
        height: 68%;
        top: 10%;
        right: 12%;
    }

    @include mixins.tablet{
        height: 60%;
        top: 23%;
        right: 8%;
    }

    @include mixins.smartphone{   
        height: 400px;
        right: 5%;
        top: -80px;
    }
}

.background-border{
    position: absolute;
    background-color: transparent;
    height: 350px;
    width: 350px;
    right: 20%;
    top: 26%;
    border: 2px solid #eee;
    z-index: 0;

    @include mixins.notebook{
        height: 300px;
        width: 300px;
        right: 18%;
        top: 18%;
    }

    @include mixins.tablet{
        height: 250px;
        width: 250px;
        right: 17%;
        top: 35%;
    }

    @include mixins.smartphone{
        height: 225px;
        width: 225px;
        right: 15%;
        top: 57%;
    }
}

.faixaSection{
    position: absolute;
    top: 25%;
    left: -5%;
    
    &-img{
        height: 900px;
        z-index: 0;

        @include mixins.notebook{
            height: 650px;
        }

        @include mixins.tablet{
            height: 550px;
        }

        @include mixins.smartphone{
            height: 250px;
        }
    }
}