@use '../modules/variables.scss';
@use '../modules/mixins.scss';

#sobreMim{
    height: 100vh;
    padding-top: 200px;
    z-index: 100;
    position: relative;

    @include mixins.notebook{
        padding-top: 80px;
        height: 120vh;
    }

    @include mixins.tablet{
        padding-top: 50px;
        height: 100vh;
    }

    @include mixins.smartphone{
        padding-top: 40px;
        text-align: center;
        display: block;
        height: auto;
    }

    .estudos{
        margin-top: 200px;
        text-align: right;

        @include mixins.notebook{
            margin-top: 320px;
        }

        @include mixins.smartphone{
            margin-top: 20px;
            text-align: center;
            margin-bottom: 80px;
        }
    }

    .text{
        margin-bottom: 20px;
    }

    .about-img{
        position: absolute;
        display: inline;
        z-index: 0;

        &-right{
            position: absolute;
            display: inline;
            z-index: 0;
            right: 20%;
            top: 18%;
            height: 150px;
            
            @include mixins.notebook{
                right: 15%;
                top: 13%;
            }

            @include mixins.tablet{
                right: 7%;
                top: 8%;
            }

            @include mixins.smartphone{
                display: none;
            }
        }

        &-left{
            position: absolute;
            display: inline;
            z-index: 0;
            left: 35%;
            top: 10%;
            height: 150px;

            @include mixins.smartphone{
                display: none;
            }
        }

        &-bottom{
            position: absolute;
            bottom: 20%;
            left: 25%;
            height: 150px;

            @include mixins.notebook{
                bottom: 9%;
                left: 25%;
            }

            @include mixins.tablet{
                bottom: 5%;
                left: 37%;
            }

            @include mixins.smartphone{
                display: none;
            }
        }
    }
}