@use 'variables.scss';
@use 'mixins.scss';

.btn{

    &-blue{
        background-color: variables.$blueColor;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
        border: 1px solid transparent;
        color: variables.$greenColor;
        padding: 7px 20px;
        transition: all ease .2s;
        border-radius: 0 !important;
    }

    &-green{
        background-color: variables.$greenColor;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
        border: 1px solid transparent;
        color: variables.$blueColor;
        padding: 7px 20px;
        transition: all ease .2s;
        border-radius: 0 !important;

        &:hover{
            background-color: variables.$blueColor;
            border: 1px solid variables.$greenColor;
            color: variables.$greenColor;
        }

        &-outline{
            background-color: variables.$blueColor;
            border: 1px solid variables.$greenColor;
            color: variables.$greenColor;

            &:hover{
                background-color: variables.$greenColor;
                color: variables.$blueColor;
            }
        }
        
    }

    &-sm{
        font-size: .9em;
        padding: 8px 15px;

        @include mixins.notebook{
            font-size: .7em;
            padding: 7px 12px;
        }
    }
}