@use 'variables.scss';
@use 'mixins.scss';

.hidden{
    display: none;
}

.bold{
    font-weight: bold;
}

.container{

    @include mixins.tablet{
        max-width: 830px;
        margin: 0 auto;
    }

    @include mixins.smartphone{
        max-width: 400px;
        margin:  0 auto;
    }
}