@use 'variables.scss';
@use 'mixins.scss';

.hidden{
    display: none;
}

.bold{
    font-weight: bold;
}

.container{

    @include mixins.tablet{
        max-width: 900px;
        margin: 0 auto;
    }
}