@use 'variables.scss';
@use 'mixins.scss';

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mixins.smartphone{
        margin-bottom: 50px;
        width: 50%;
    }

    &-link{
        color: variables.$greenColor;
        transition: all ease-in-out .2s;
        &:hover{
            transform: scale(1.1);
        }

        &-icone{
            font-size: 2.5em;

            @include mixins.notebook{
                font-size: 2.2em;
            }

            @include mixins.tablet{
                font-size: 1.8em;
            }

            @include mixins.smartphone{
                font-size: 1.4em;
            }

            &-bg{
                background-color: rgba(0, 0, 0, 0.110);
                width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                border-radius: 50%;

                @include mixins.notebook{
                    width: 63px;
                    height: 63px;
                }

                @include mixins.tablet{
                    width: 75px;
                    height: 75px;
                }

                @include mixins.smartphone{
                    width: 55px;
                    height: 55px;
                }
            }
        }

        &-title{
            font-size: 1.7em;
            font-weight: bold;
            padding: 20px 0 5px;
            color: #fff;

            @include mixins.notebook{
                font-size: 1.5em;
            }

            @include mixins.tablet{
                font-size: 1.2em;
            }

            @include mixins.smartphone{
                font-size: 1em;
            }
        }

        &-texto{
            font-size: 1.2em;
            color: #fff;

            @include mixins.notebook{
                font-size: 1em;
            }

            @include mixins.tablet{
                font-size: 1em;
            }

            @include mixins.smartphone{
                font-size: .8em;
            }
        }
    }

    span{
        display: block;
    }
}