@use 'variables.scss';
@use 'mixins.scss';

.navbar{
    
    padding-bottom: 20px;

    &-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    &-brand{
        font-size: 3.5em;
        font-weight: light;
        text-transform: capitalize;
        color: variables.$greenColor;

        @include mixins.smartphone{
            font-size: 2em;
            font-weight: bold;
        }
        &:hover{
            color: variables.$greenColor;
        }
    }

    .togglerMenu{
        display: flex;
        position: fixed;
        right: 5%;
        top: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 10px;
        z-index: 980;
        cursor: pointer;

        @include mixins.smartphone{
            position: fixed;
            right: 7%;
            top: 7%;
        }
    }

    .bar {
        height: 3px;
        width: 50px;
        background-color: variables.$blueColor;

        &:nth-child(2){
            width: 30px;
        }
    }
}

.navMenu{
    width: 280px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    position: fixed;   
    right: 3%;
    top: 3%;
    z-index: 9990;
    animation-duration: .4s;


    .buttonCloseMenu{
        font-size: 60px;
        position: absolute;
        right: 30px;
        top: 0;
        font-weight: lighter;

        i{
            cursor: pointer;
            font-weight: light;
        }
    }

    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 15px;
        padding-bottom: 30px;
        justify-content: end;
        padding-top: 100px;
        text-transform: capitalize;

        &-item{
            text-align: right;
        }

        &-link{
            font-size: 1.4em;
            text-align: right;
            color: variables.$blueColor;
            font-weight: bold;
            position: relative;
            
            &:hover::after{
                width: 100%;
            }
            
            &::after{
                content: '';
                width: 0%;
                height: 1px;
                background-color: variables.$blueColor;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all ease .2s;
            }
        }
    }
}
