@font-face {
    font-family: 'SF UI TEXT';
    src: url(../../fonts/SF-UI-Text-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'SF UI TEXT';
    src: url(../../fonts/SF-UI-Text-Light.woff);
    font-weight: light;
}

@font-face {
    font-family: 'SF UI TEXT';
    src: url(../../fonts/SF-UI-Text-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: 'SF UI TEXT';
    src: url(../../fonts/SF-UI-Text-RegularItalic.woff);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI TEXT';
    src: url(../../fonts/SF-UI-Text-Heavy.woff);
    font-weight: bolder;
}